 .u-section-1 {
  background-image: url("images/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  width: 176px;
  margin: 39px auto 0;
}

.u-section-1 .u-table-1 {
  width: 852px;
  margin: 26px auto -20px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-block-244a-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-table-entity-1 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}